.container-fluid.margin-top-10
    .row
        .col-md-3
        .col-md-6
            .jumbotron.text-center
                %h1 IEC Validator
        .col-md-3
  
        
  
.container-fluid.margin-left-10
    .row
        .col-md-5
            .jumbotron.text-center.color-drip
                %h1 Validate
                = form_tag '' do
                    %p
                        = label_tag(:iecName, "IEC Name:")
                        = text_field_tag(:iecName)
                    %p
                        = label_tag(:iecCode, "IEC Code:")
                        = text_field_tag(:iecCode)
                    %p
                        = submit_tag "Submit", class:"btn btn-primary btn-lg", id: "verifyButton"
        .col-md-5
            .jumbotron.text-center.color-drip
                %h1 Retreive
                = form_tag '' do
                    %p
                        = label_tag(:iecCodeFetch, "IEC Code:")
                        = text_field_tag(:iecCodeFetch)
                    %p
                        = submit_tag "Submit", class:"btn btn-primary btn-lg", id: "fetchButton"

#resultModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "resultModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-header
                %h5#resultModalLabel.modal-title
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
            .modal-body.hidden
                %p 
                    #iecCodeResponse
                %p 
                    #iecNameResponse
                %p
                    #iecPhoneNumberResponse
                %p
                    #iecStatusResponse
                %p
                    #iecDateOfEstablishmentResponse
            .modal-footer
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close